.card{
    background-color: #212529;
    margin-top: 20px;
}
.card:hover{
    transform: scale(1);
    transition: all 0.5s;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}